<nav id="navbar-main" color="primary" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5 floating" [routerLink]="['/']">
      <img src="./assets/img/nabvar/logo.png" alt="My Logo">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="{{downloadCv}}" target="_blank" matTooltip="Download My Resume">
              <img src="./assets/img/nabvar/logo2.png" alt="My Portfolio">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <!-- Left Side Menu -->
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center" *ngIf="screenWidth>991">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <em class="ni ni-ui-04 d-lg-none"></em>
            <span class="nav-link-inner--text">About</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              
              <!--About Menu List -->
              <a routerLinkActive="active" [routerLink]="['education']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <img src="./assets/img/nabvar/book.png" class="img-center img-fluid" alt="My Education">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-primary mb-md-1">Education</h3>
                   </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['experience']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <img src="./assets/img/nabvar/job.png" class="img-center img-fluid" alt="My Education">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-success mb-md-1">Job Experience</h3>
                </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['projects']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                  <img src="./assets/img/nabvar/projects.png" class="img-center img-fluid" alt="My Project Details">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-info mb-md-1">Project Details</h3>
                </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['training']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <img src="./assets/img/nabvar/training.png" class="img-center img-fluid" alt="My Training Details">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-warning mb-md-1">Training</h3>
                </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['achievement']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <img src="./assets/img/nabvar/achievement.png" class="img-center img-fluid" alt="My achievement">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-primary mb-md-1">Achievement</h3>
                   </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['skills']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <img src="./assets/img/nabvar/skill.png" class="img-center img-fluid" alt="My Skills">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-success mb-md-1">Skills</h3>
                </div>
              </a>


              <a routerLinkActive="active" [routerLink]="['contact']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <img src="./assets/img/nabvar/contact.png" class="img-center img-fluid" alt="contact">
                </div>
                <div class="media-body ml-3">
                  <h3 class="heading text-warning mb-md-1">Contact</h3>
                </div>
              </a>
              <!-- About Menu List End -->

            </div>
          </div>
        </li>
      </ul>
      <!-- Left Side Menu End -->


       <!-- Right Side Menu -->
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/tajbirnuva" target="_blank" data-toggle="tooltip" matTooltip="Facebook">
            <em class="fa fa-facebook-square"></em>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/tajbirnuva" target="_blank" data-toggle="tooltip" matTooltip="Instagram">
            <em class="fa fa-instagram"></em>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://wa.me/01850179564" target="_blank" data-toggle="tooltip" matTooltip="+8801850179564">
            <em class="fa fa-whatsapp"></em>
            <span class="nav-link-inner--text d-lg-none">WhatsApp</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://gitlab.com/tajbirnuva" target="_blank" matTooltip="See My Personal Projects">
            <em class="fa fa-gitlab"></em>
            <span class="nav-link-inner--text d-lg-none">Gitlab</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="{{downloadCv}}" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <em class="fa fa-cloud-download mr-2"></em>
            </span>
            <span class="nav-link-inner--text">My Resume</span>
          </a>
        </li>
      </ul>
      <!-- Right Side Menu End -->

    </div>
  </div>
</nav>
