<h1 mat-dialog-title>◩ {{project.title}}</h1>

<mat-dialog-content>
  <section >
    <div class="container">
      <h3>
       {{project.description}}
      </h3>

      <div class="row row-grid align-items-center">
        <!-- Project Backend -->
        <div class="col-md-4">
          <div class="card bg-gradient-info shadow-lg border-0">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white">
                    <img
                      src="./assets/img/project-details/backend.png"
                      class="img-center img-fluid"
                      alt="Office"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h2 class="text-white" style="margin: 0">Backend</h2>
                  <mat-divider></mat-divider>
                  <h3 class="title text-white" style="margin: 0">{{project.backend}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Frontend -->
        <div class="col-md-4">
          <div class="card bg-gradient-info shadow-lg border-0">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white">
                    <img
                      src="./assets/img/project-details/frontend.png"
                      class="img-center img-fluid"
                      alt="Office"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h2 class="text-white" style="margin: 0">Frontend</h2>
                  <mat-divider></mat-divider>
                  <h3 class="title text-white" style="margin: 0">{{project.frontend}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Database -->
        <div class="col-md-4">
          <div class="card bg-gradient-info shadow-lg border-0">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white">
                    <img
                      src="./assets/img/project-details/database.png"
                      class="img-center img-fluid"
                      alt="Office"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h2 class="text-white" style="margin: 0">Database</h2>
                  <mat-divider></mat-divider>
                  <h3 class="title text-white" style="margin: 0">{{project.database}}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</mat-dialog-content>
