<main>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center mt-3">
        <div class="col-md-6 order-md-2">
          <img
            src="./assets/img/project-list/working.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="d-flex">
              <div
                class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5"
              >
                <img
                  src="./assets/img/website.png"
                  class="img-fluid"
                  alt="website"
                />
              </div>
              <div class="pl-2 pt-3">
                <h1>My <strong class="text-success">Projects</strong></h1>
              </div>
            </div>

            <div
              class="card bg-gradient-success card-lift--hover shadow shadow-lg--hover"
            >
              <div class="card-body">
                <!-- 1 -->
                <div class="d-flex px-3">
                  <div class="media d-flex align-items-center">
                    <div class="icon icon-shape rounded-circle text-white">
                      <img
                        src="./assets/img/project-list/tick.png"
                        class="img-center img-fluid"
                        alt="My Education"
                      />
                    </div>

                    <div class="media-body ml-3">
                      <a href="javascript:void(0);" class="text-white mb-md-1" (click)="showProjectDetails(0)"
                        >C.R.V.S. -Southtech (Government Project)</a
                      >
                    </div>
                  </div>
                </div>

                <!-- 2 -->
                <div class="d-flex px-3">
                  <div class="media d-flex align-items-center">
                    <div class="icon icon-shape rounded-circle text-white">
                      <img
                        src="./assets/img/project-list/tick.png"
                        class="img-center img-fluid"
                        alt="My Education"
                      />
                    </div>

                    <div class="media-body ml-3">
                      <a href="javascript:void(0);" class="text-white mb-md-1" (click)="showProjectDetails(1)"
                        >AFS Banking Solution -Southtech Project</a
                      >
                    </div>
                  </div>
                </div>

                <!-- 3 -->
                <div class="d-flex px-3">
                  <div class="media d-flex align-items-center">
                    <div class="icon icon-shape rounded-circle text-white">
                      <img
                        src="./assets/img/project-list/tick.png"
                        class="img-center img-fluid"
                        alt="My Education"
                      />
                    </div>

                    <div class="media-body ml-3">
                      <a href="javascript:void(0);" class="text-white mb-md-1" (click)="showProjectDetails(2)"
                        >Exam Portal (Personal Project)</a
                      >
                    </div>
                  </div>
                </div>

                <!-- 4 -->
                <div class="d-flex px-3">
                  <div class="media d-flex align-items-center">
                    <div class="icon icon-shape rounded-circle text-white">
                      <img
                        src="./assets/img/project-list/tick.png"
                        class="img-center img-fluid"
                        alt="My Education"
                      />
                    </div>

                    <div class="media-body ml-3">
                      <a href="javascript:void(0);" class="text-white mb-md-1" (click)="showProjectDetails(3)"
                        >Smart Medical Registry (Personal Project)</a
                      >
                    </div>
                  </div>
                </div> 
                
                <!-- 5 -->
                <div class="d-flex px-3">
                  <div class="media d-flex align-items-center">
                    <div class="icon icon-shape rounded-circle text-white">
                      <img
                        src="./assets/img/project-list/tick.png"
                        class="img-center img-fluid"
                        alt="My Education"
                      />
                    </div>

                    <div class="media-body ml-3">
                      <a href="javascript:void(0);" class="text-white mb-md-1" (click)="showProjectDetails(4)"
                        >Supply Chain Management System - PONDIT Project</a
                      >
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
