<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew" *ngIf="screenWidth>991">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img
                    src="./assets/img/tajbir/1.jpg"
                    class="rounded-circle"
                    alt="My Pic"
                  />
                </a>
              </div>
            </div>
            <div
              class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center"
            ></div>
            <div class="col-lg-4 order-lg-1">
              <br /><br /><br /><br /><br />
            </div>
          </div>
          <div class="text-center mt-5">
            <h1>Abdullah Al Tajbir</h1>
            <div class="h6 font-weight-500">
              <em class="ni location_pin mr-2"></em>Web Developer (Full Stack)
            </div>
            <div class="h6 font-weight-600">
              <em class="ni business_briefcase-24 mr-2"></em>Software Engineer -
              Southtech Limited
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>
                  I am seeking a competitive and challenging environment where I
                  can serve the organization and establish a career for myself.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
