<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-4">
              <img
                src="./assets/img/education.png"
                alt="Education"
                class="img-fluid"
                height="40%"
                width="20%"
              />
              <div class="col-lg-4">
                <h1>My <strong>Education</strong></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
      
    </section>
   
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img
                      src="./assets/img/gif/cap.gif"
                      alt="Education"
                      class="responsive"
                      height="40%"
                      width="20%"
                    /><strong>B.Sc. In C.S.E.</strong>
                  </div>
                  <p class="description mt-3">
                    International Islamic University, Chittagong.
                  </p>
                  <p class="description">Year: 2020</p>
                  <mat-divider></mat-divider>
                  <p class="description mt-3">42nd Batch</p>
                  <strong>CGPA :3.60</strong>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img
                      src="./assets/img/gif/cap.gif"
                      alt="Education"
                      class="responsive"
                      height="40%"
                      width="20%"
                    /><strong>H.S.C.</strong>
                  </div>
                  <p class="description mt-3">
                    Government City College,Chittagong.
                  </p>
                  <p class="description">Year: 2014</p>
                  <mat-divider></mat-divider>
                  <p class="description mt-3">Group : Science</p>
                  <strong>Result : A (4.30)</strong>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img
                      src="./assets/img/gif/cap.gif"
                      alt="Education"
                      class="responsive"
                      height="40%"
                      width="20%"
                    /><strong>S.S.C.</strong>
                  </div>
                  <p class="description mt-3">
                    Govt. Muslim High School,Chittagong.
                  </p>
                  <p class="description">Year: 2012</p>
                  <mat-divider></mat-divider>
                  <p class="description mt-3">Group : Science</p>
                  <strong>Result : A+ (5.00)</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
