<main>

    <section class="section section-sm bg-gradient-default">
      <div class="container pt-lg pb-200">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h1 class="display-3 text-white"><strong> Development Related Proficiencies</strong></h1>
            <mat-divider style=" border-top-color: rgba(255, 255, 255, 0.934);"></mat-divider>
          </div>
        </div>
        <div class="row row-grid mt-5">
        <div class="col-lg-1"></div>
          <div class="col-lg-3 floating">
            <h3 class="text-white mt-3">High Level</h3>
            <ul>
                <li class="text-white">Spring Framework</li>
                <li class="text-white">Hibernate, Spring Data JPA</li>
                <li class="text-white">Spring Microservice</li>
                <li class="text-white">Spring Security</li>
                <li class="text-white">MySQL, MSSQL</li>
                <li class="text-white">Redis</li>
                <li class="text-white">.NET Framework</li>
            </ul>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3 floating">
            <h3 class="text-white mt-3">Moderate Level</h3>
            <ul>
                <li class="text-white">Angular</li>
                <li class="text-white">JavaScript,Typescript</li>
                <li class="text-white">Bootstrap</li>
                <li class="text-white">GraphQL</li>
                <li class="text-white">Git</li>
                <li class="text-white">Jasper</li>
                <li class="text-white">Junit & Mockito</li>
            </ul>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3 floating">
            <h3 class="text-white mt-3">Other Skills</h3>
            <ul>
                <li class="text-white">Adobe Illustrator</li>
                <li class="text-white">Adobe Photoshop</li>
                <li class="text-white">Wandershare</li>
                <li class="text-white">RPA</li>
                <li class="text-white">Docker (Practicing)</li>
                <li class="text-white">React Js (Practicing)</li>
                <li class="text-white">Linux (Practicing)</li>
            </ul>
          </div>
          
         
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
   
</main>






  