<main>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-5 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img
              src="./assets/img/certificate/certificate.png"
              class="img-center img-fluid floating"
              alt="Certificate"
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div
                class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
              >
                <img
                  src="./assets/img/gif/certificate.gif"
                  class="img-center img-fluid"
                  alt="Certificate"
                />
              </div>
            </div>
            <div class="pl-2 pt-3">
              <h1>My <strong>Training & Certificate</strong></h1>
            </div>
          </div>

          <!-- Training Detail 1 -->
          <div class="card card-lift--hover shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon">
                    <img
                      src="./assets/img/gif/training.gif"
                      class="img-center img-fluid"
                      alt="Certificate"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h2 style="margin: 0">
                    <strong>Java From Basic To Professional</strong>
                  </h2>
                  <h2 class="title text-success" style="margin: 0">
                    From PONDIT
                  </h2>
                  <mat-divider></mat-divider>
                  <p class="description">
                    Training On Java Programming (Spring Framework)
                  </p>
                  <p class="description" style="margin: 0">Year : 2020</p>
                  <p class="description">Duration : 8 months</p>

                  <a
                    href="javascript:void(0)"
                    class="text-info"
                    (click)="show('./assets/img/certificate/java.png')"
                    ><strong>Certificate</strong></a
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Training Detail 2 -->
          <div class="card card-lift--hover shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon">
                    <img
                      src="./assets/img/gif/training.gif"
                      class="img-center img-fluid"
                      alt="Certificate"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h2 style="margin: 0">
                    <strong>ASP .NET Web App Development</strong>
                  </h2>
                  <h2 class="title text-success" style="margin: 0">
                    From BITM
                  </h2>
                  <mat-divider></mat-divider>
                  <p class="description">
                    Training On C# Programming (.NET Framework)
                  </p>
                  <p class="description" style="margin: 0">Year : 2018</p>
                  <p class="description">Duration : 3 months</p>

                  <a
                    href="javascript:void(0)"
                    class="text-info"
                    (click)="show('./assets/img/certificate/dotnet.png')"
                    ><strong>Certificate</strong></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <div class="pb-5"></div>
</main>
