<main>
  <section class="section">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img
              src="./assets/img/tajbir/2.jpg"
              class="card-img-top"
              alt="Tajbir"
            />
            <blockquote class="card-blockquote">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="svg-bg"
              >
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon
                  points="0,42 583,95 683,0 0,95"
                  opacity=".2"
                  class="fill-default"
                />
              </svg>
              <div>
                <div
                  class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary"
                >
                  <img
                    src="./assets/img/gif/briefcase.gif"
                    class="img-center img-fluid"
                    alt="Briefcase"
                  />
                </div>
              </div>
              <div class="pt-3">
                <h1 class="text-white">My <strong>Job Experience</strong></h1>
              </div>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Current Job -->
          <div
            class="card bg-info card-lift--hover shadow shadow-lg--hover mt-3"
          >
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white">
                    <img
                      src="./assets/img/office.png"
                      class="img-center img-fluid"
                      alt="Office"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h1 class="text-white" style="margin: 0">
                    Southtech Limited
                  </h1>
                  <h3 class="title text-white" style="margin: 0">
                    Software Engineer (Java - Spring Boot)
                  </h3>
                  <mat-divider></mat-divider>
                  <p class="description">August, 2021 to Now</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Previous Job -->
          <div
            class="card bg-info card-lift--hover shadow shadow-lg--hover mt-5"
          >
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-lg icon-shape bg-gradient-white">
                    <img
                      src="./assets/img/office.png"
                      class="img-center img-fluid"
                      alt="Office"
                    />
                  </div>
                </div>
                <div class="pl-3">
                  <h1 class="text-white" style="margin: 0">PONDIT</h1>
                  <h3 class="title text-white" style="margin: 0">
                    Jr. Programmer (Java - Spring Boot)
                  </h3>
                  <mat-divider></mat-divider>
                  <p class="description">December, 2020 to August, 2021</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
